@media screen and (max-width: 820px) {
  :root {
    --bg-width: auto;
    --popup-font-size: 0.9rem;
    --splash-text-width: 6rem;
  }
}

@media screen and (max-width: 426px) {
  :root {
    --popup-width: 13rem;
    --sticky-btn-width: 7rem;
    --splash-text-width: 4rem;
  }
}

@media (max-width: 320px) {
  :root {
    --prev-offsetX: -1.8em;
    --prev-rotateY: -60deg;
    --next-offsetX: 1.8em;
    --next-rotateY: 60deg;
    --btn-scale-inactive: 0.7;
    --biome-header-width: 19rem;
    --splash-text-width: 2rem;
  }
}

@media screen and (orientation: landscape) {
  :root {
    --bg-width: 100%;
  }
}
