@media (max-width: 320px) {
  :root {
    --prev-offsetX: -1.8em;
    --prev-rotateY: -60deg;
    --next-offsetX: 1.8em;
    --next-rotateY: 60deg;
    --btn-scale-inactive: 0.7;
    --biome-header-width: 19rem;
  }
}

@media screen and (max-width: 426px) {
  :root {
    --popup-width: 10rem;
    --sticky-btn-width: 7rem;
  }
}

@media screen and (max-width: 820px) {
    :root {
        --bg-width: auto;
        --popup-font-size: 0.7rem;
    }
}

@media screen and (orientation: landscape) {
    :root {
        --bg-width: 100%;
    }
}
