@media (max-width: 320px) {
    :root {
        --prev-offsetX: -1.8em;
        --prev-rotateY: -60deg;
        --next-offsetX: 1.8em;
        --next-rotateY: 60deg;
        --btn-scale-inactive: 0.7;
    }
}

@media (max-width: 426px) {
    :root {
        --bg-width: auto;
    }
}